---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title=""
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>
	<p>
Be right back! m "$(fzf)"Our code went on a coffee break	</p>

</Layout>
