---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import PostCard from "../components/PostCard.astro";

function getImagePath(itemCollection: any) {
  var image = itemCollection.data.image;

  if (!image) return "/images/default.jpg";

  return image;
}

async function getPosts() {
  var collection = await getCollection("blog");
  collection = collection.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
  );

  var posts = collection.map((i) => {
    return {
      title: i.data.title,
      date: i.data.date,
      image: getImagePath(i),
    };
  });

  return posts;
}

const posts = await getPosts();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main
      style="
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 2rem;
      padding: 2rem;
      max-width: 1200px;
      margin: 0 auto;
    "
    >
      <h1
        style="
      grid-column: 1 / -1;
      text-align: center;
      margin-bottom: 2rem;
    "
      >
        Latest Posts
      </h1>

      {
        posts.map((post) => {
          return <PostCard post={post} />;
        })
      }
    </main>

    <Footer />
  </body>
</html>
